<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/sign-up.css">
        <link rel="stylesheet" href="../css/footer.css">
        <title>Sign up</title>
        <script src="../js/sign-up.js"></script>
    </head>
    <body>
        <header>
            <div>
                <a class="dropdown" href="#"></a><img class="dropdown-img" src="assets/ico/sandwich.svg" alt=""></a>
                <h1>mega rocket</h1>
            </div>
            <h3 class="tagline-header">a free and fully resposive site template</h3>
            <nav>
                <a href="index.html"><img src="../../assets/ico/home.png" alt="home"></a>
                <a href="login.html"><img src="../../assets/ico/log-in.png" alt="log in"></a>
                <a href="sign-up.html"><img src="../../assets/ico/close-session.png" alt="close session"></a>
                <a href="#"><img src="../../assets/ico/info.png" alt="info"></a>
            </nav>
        </header>
        <main>
            <div class="container">
                <h3>sign up</h3>
                <form>
                    <div class="labels-form">
                        <div class="container-forms">
                            <fieldset>
                                <label>name</label>
                                <input type="text">
                            </fieldset>
                            <fieldset>
                                <label>last name</label>
                                <input type="text">
                            </fieldset>
                            <fieldset>
                                <label>tag</label>
                                <input type="text">
                            </fieldset>
                            <fieldset>
                                <label>phone number</label>
                                <input type="text">
                            </fieldset>
                        </div>
                        <div class="container-forms">
                            <fieldset>
                                <label>adress</label>
                                <input type="text">
                            </fieldset>
                            <fieldset>
                                <label>email</label>
                                <input type="email">
                            </fieldset>
                            <fieldset>
                                <label>password</label>
                                <input type="password">
                            </fieldset>
                            <fieldset>
                                <label>repeat password</label>
                                <input type="password">
                            </fieldset>
                        </div>
                    </div>
                    <button id="subnit-button" type="submit">sign up</button>
                </form>
            </div>
        </main>
        <footer>
            <article class="socials">
                <a href="#"><img src="../../assets/ico/facebook.svg" alt="facebook"></a></a>
                <a href="#"><img src="../../assets/ico/whatsapp.svg" alt="whats app"></a></a>
                <a href="#"><img src="../../assets/ico/instagram.svg" alt="instagram"></a></a>
            </article>
            <article>
                <p class="copyright">&copy; MEGA ROCKET SA 2023</p>
            </article>
        </footer>
    </body>
</html>