h1 {
    color: #49a37b;
    display: inline-block;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav {
    position: absolute;
    display: inline-block;
    right: 5%;
}

nav a {
    width: 40px;
}
