header {
    height: 346px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

header div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 30px;
}

.tagline-header {
    text-transform: uppercase;
    margin: 30px 0 30px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
    padding: 0 50px 0 50px;
}

nav {
    width: 90%;
    max-width: 300px;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a img{
    min-width: 45px;
    max-width: 55px;
}

@media screen and (min-width: 601px){
    .tagline-header {
        display: none;
    }

    h1 {
        margin-left: 60px;
    }
}

@media screen and (min-width: 1025px){
    
    header {
        height: 100px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    header div {
        width: 80%;
        display: flex;
        justify-content: flex-start; 
    }

    nav a img{
        min-width: 35px;
        max-width: 40px;
    } 
}