header {
    height: 346px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

header div {
    width: 480px;
    display: flex;
    justify-content: space-evenly;
}

nav {
    width: 600px;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a img{
    min-width: 45px;
    max-width: 55px;
}