/*-------------------------------------*/
/*            PRESENTATIONS            */
/*-------------------------------------*/

.presentation {
    
}

.present-left {
    
}

.present-right {
  
}

.greetings {
    
}

.tagline {
      
}

.presentation-paragraph {
     
}

.button-learn {
    padding: 40px 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: white;
    border-color: #49a37b;
    border-radius: 10px;
    text-align: center;
}

.img-gym {  

}

/*-------------------------------------*/
/*            APP FUNCTIONS            */
/*-------------------------------------*/

.container-function-app {
   
}

.app-function-articles {
    
}

.img-function {
    
}

.description-function {
  
}

.app-function-paragraph {
  
}

/*-------------------------------------*/
/*             ABOUT US                */
/*-------------------------------------*/

.container-about {
   
}

.title-about { 

}    

.text-about-paragraph { 
   
}

/*-------------------------------------*/
/*              CONTACT                */
/*-------------------------------------*/

.contact {
 
}

.list-contact {
 
}

.reason {
   
}

.form {
    
}

.place {
  
}

.comments {
   
}

.contact-button{
    width: 76px;
    height: 34px;
    background: #AACE9B;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
}

/*-------------------------------------*/
/*            ACTIVITIES               */
/*-------------------------------------*/

.activities {
    
}

.activities-list {
  
}

.activities-ul {
    
}

.list-activities {
   
}