@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

body {
    margin: 25px;
    font-family: 'Roboto Mono', monospace;
}

h2 {
    color: #49a37b;
    font-size: 33px; 
}

h3 {
    font-size: 28px;
    font-weight: 400;
    color: #49a37b;  
}

h4 {
    font-size: 18px;
    font-weight: 400;
    color: #49a37b;
}
