form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

fieldset img {
    width: 20px;
}

input {
    border: none;
    border-bottom: 1px solid #49A37B;
    height: 40px;
    font-size: 20px;
}

button {
    margin: 30px;
    background-color: #49A37B;
    border: none;
    color: #fff;
    text-transform: capitalize;
    width: 50%;
    height: 50px;
    border-radius: 5px;
}

.remember {
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.forgot {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-transform: capitalize;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.help {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    padding: 15px 0 15px 0;
    width: 100%;
}

@media screen and (min-width: 601px){

    .labels-form {
        display: flex;
        flex-direction: row;
    }

    .help {

        width: 100%;
    }
}

@media screen and (min-width: 1025px){
    form {
        max-width: 1025px;

    }
}